<a href="https://colab.research.google.com/github/Kyoka-Trepka-UVA/CLASSWORK/blob/main/class_2_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
numbers = range(17)

# for i in numbers:
#  attempt[i] = i ** 2
#attempt

# for i in numbers:
#   attempt[i] = i ** 2
# attempt

attempt = list()
for i in numbers:
  attempt.append(i**2)
attempt

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

In [9]:
Square = [i**2 for i in numbers]
Square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

In [13]:
number = range(5)
square = [i**2 for i in number]
square

[0, 1, 4, 9, 16]

A list of odd cubes

In [16]:
# odds = range(1,17,2)
# odd_cube = [i**3 for i in odds ]
# print (odd_cube)

numbers= range (17)
odd_cubes2 =[i**3 for i in numbers if i%2 == 1]
print (odd_cubes2)

[1, 27, 125, 343, 729, 1331, 2197, 3375]

robust code

In [25]:
x=
try:
  print('word' * x)
except:
  print('error')

error

In [30]:
print("what is your rating?")
n = input()
print("your rating is",int(n) * 1)

what is your rating?
3
your rating is 3

In [32]:
print("what is your rating")
n=input()
if int(n) <=10 and int(n)>=1:
  print("your rating is", int(n)*'*')
else:
  print("invalid input")

what is your rating
3
your rating is ***

In [ ]:
print("what is your rating")
n=input()
try:
  if int(n) <=10 and int(n)>=1:
   print("your rating is", int(n)*'*')
  else:
   print("from 1 to 10 please")
except:
  print("invalid input")

While loop

In [ ]:
success = False

while success == False:
  print("what is your rating?")
  n = input()
  try:
    if int(n) <=10 and int(n)>=1:
      print("your rating is", int(n)*'*')
      success=True
    else:
      print("from 1 to 10 please")
  except:
    print("invalid answer")

what is your rating?